.bg-app {
  background-size: cover;
  background: url('../../public/assets/images/background.png') !important;
}

.ion-content-editvoice {
  --background: transparent;
}

.upload-btn {
  --background: #F7BF50;
  --background-focused: #bf7f00;
  --background-hover: #bf7f00;
  --color: #000;
  text-transform: none;
}

.voice-name {
  margin: 0 15px;
}

.voice-desc-label {
  padding: 0 15px;
  font-size: 1.3em;
}

.voice-desc-textarea {
  --background: #F2F2F2;
  padding: 15px;
  border-radius: 10px;
}

.dt {
  background: transparent;
}