.bg-app-home {
    background-size: cover;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(255, 170, 0, 1) 100%);
}

.toolbar-transparent {
    --background: transparent;
}

.home-recently-list {
    padding-top: 0;
    background: transparent;
}

.home-content {
    --background: transparent;
}

.home-title {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 28px;
}

.home-subtitle {
    margin-left: 20px;
    font-size: 18px;
    height: 50px;
}

.home-vList {
    border-radius: 10px;
    margin: 5px;
    height: 55px;
    /* --background: #C4C4C4; */
    /* --background: rgb(138,138,138);
    --background: linear-gradient(45deg, rgba(138,138,138,1) 0%, rgba(237,181,255,1) 0%, rgba(255,175,175,1) 100%); */
    --background: rgb(135, 188, 218);
    --background: linear-gradient(294deg, rgba(135, 188, 218,1) 0%, rgba(196, 196, 196,1) 100%, rgba(138,138,138,1) 0%);
    box-shadow: 4px 4px 0px #505b74;
    transition: transform 200ms, box-shadow 200ms;
}

.home-vList:active {
    transform: translate(4px) translateX(4px);
    box-shadow: #505b74 0px 0px 0px;
}

.title-text {
    font-size: 11px;
    padding: 0;
    margin: 4px;
}

.float-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-float-btn {
    width: 90%;
    margin-bottom: 3px;
    border-radius: 10px;
    --background: #f8c051;
}

#margin-for-float-btn-home{
    margin-bottom: 100px;
}

#margin-for-float-btn-search{
    margin-bottom: 100px;
}

#margin-for-float-btn-profile{
    margin-bottom: 100px;
}