.landingContent {
    --background: url('../../public/assets/images/background.png');
}

.skipButton {
    position: absolute;
    top: 18px;
    right: 5px;
    text-transform: initial;
}

.text1 {
    font-size: small;
}

.text2 {
    font-size: small;
    color: grey;
}

.landingImg {
    width: 100%;
    height: 66%;
    background-size: cover;
    object-fit: cover;
}

/* @media only screen and (max-width: 600px) {
    .landingImg {
        width: 100%;
        height: 20%;
    }
} */