.bg-app {
    --background: url('../../public/assets/images/background.png');
}
.avatar-profile-cont {
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/

    align-items: center;
    justify-content: center;
    display: flex;
}

.avatar-profile {
    width: 100%;
    /* padding-left: 25%;
    padding-right: 25%;
    padding-top: 7%;
    padding-bottom: 7%; */
}

.text-profile {
    text-align: center;
    padding-top: 0px;
}

ion-button {
    --background: #F7BF50;
    --background-focused: #bf7f00;
    --background-hover: #bf7f00;
    --color: #000;
    text-transform: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.vList {
    --background: #C4C4C4;
}



