.rcContent {
    --background: url('../../public/assets/images/background.png');
}

.buttonCss {
    border-radius: 15px;
}

.tool {
    --background: transparent;
}

#rec-Button{
    --background: #F7BF50;
    --background-focused: #bf7f00;
    --background-hover: #bf7f00;
    --color: #000;
    text-transform: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.recButton {
    --border-radius: 100%;
    width: 220px;
    height: 220px;
    position: relative;
    object-fit: cover;
    margin-top: 50px;
}

.playButton {
    --border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    object-fit: cover;
    margin-top: 15px;
}

.buttonSize {
    width: 133px;
}