.rcContent {
    --background: url('../../public/assets/images/background.png');
}

.landingImg {
    width: 100%;
    height: 66%;
    object-fit: cover;
}

.buttonCss {
    border-radius: 15px;
}

.tool {
    --background: transparent;
}

.recButton {
    --border-radius: 100%;
    width: 220px;
    height: 220px;
    position: relative;
    object-fit: cover;
    margin-top: 50px;
}

.playButton {
    --border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    object-fit: cover;
    margin-top: 15px;
}

.buttonSize {
    width: 133px;
}