.bg-app {
    background-size: cover;
    background: url('../../public/assets/images/background.png') !important;
}

.ion-content-search {
    --background: transparent;
}

.wrapper {
    margin-top: 50px;
}

.searchBar {
    margin: auto;
    width: 95%;
    --border-radius: 10px;
    --background: rgb(227, 227, 227);
}

.segment.md {
    width: 90%;
    margin: auto;
}

.item-list-color-search {
    --background: #C4C4C4;
}

.segment.ios {
    width: 60%;
    margin-left: 20px;
    --background: none;
}

.segment-btn {
    border-radius: 20px !important;
    height: 30px;
    width: fit-content;
    margin: 2px;
    min-height: min-content;
    text-transform: none;
    --background: rgb(227, 227, 227);
    --indicator-color: none;
    --background-checked: var(--ion-color-primary);
    --color-checked: #FFF;
    --indicator-box-shadow: none;
    --border-width: 0;
}

.segment-label {
    font-size: 12px;
}

.vList {
    border-radius: 10px;
    margin: 5px;
    height: 45px;
}

.avatar {
    justify-content: center;
    margin: auto;
    height: 35px;
    width: 35px;
}

.label {
    margin-left: 5px;
}