.bg-app {
    background-size: cover;
    background: url('../../public/assets/images/background.png') !important;
}

.ion-content-yourvoice{
    --background: transparent;
}

.ion-toolbar-yourvoice {
    --background: transparent;
}

.list {
    border-radius: 12px;
    margin: 0 8px 5px 8px;
}

.sliding {
    border-radius: 12px;
    margin: 0 8px 5px 0;
}

.item-list-color-yourvoice {
    --background: #C4C4C4;
}